// Specific CSS for your home-page
.title{
    background-color: rgb(99, 187, 228);
    text-align: center;
}
.background{
    position: relative;
    background-image: url("sailing-boat-1593613 (1).jpg");
    height: 1500px;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

