.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  gap: 20px;
}

.card-grid {
  width: 25rem;
}

.img-cards:hover {
  width: 403px;
  height: 303px;
  transition: 0.3s;
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.img-big {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.container {
  position: relative;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-top-right {
  position: absolute;
  right: 12px;
  top: 0px;
  width: 100px;
}

.btn-middle {
  position:absolute;
  width: 115px;
  right: 45%;
  bottom:15px;
}

.card-home{
   background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 55%);
   border-radius: 8px;
   box-shadow: 0px 0px 8px black;
   padding: .75rem;
   margin: 20px;
    img{
      padding-right: 10px;
      object-fit: cover;
      height: 170px;
    }
    .card-title{
      font-weight: bold;
      padding: 24px;
      font-size: 24px;
    }
    .card-text{
      padding: 23px 70px;
      font-size: 18px;
      
    }
}
